<div class="table-container">
  <h2>{{ tableTitle() }}</h2>

  <div class="tabla">
    <!-- HEADER -->
    <div
      class="tabla-header"
      [style.gridTemplateColumns]="'repeat(' + (tableColumns().length - 1) + ', 1fr) 70px'"
    >
      @for (col of tableColumns(); track col.key) {
        <span>{{ col.label }}</span>
      }
    </div>

    <!-- FILAS -->
    @for (row of tableData(); track row[trackByField()]) {
      <div
        class="tabla-row"
        [style.gridTemplateColumns]="'repeat(' + (tableColumns().length - 1) + ', 1fr) 55px'"
      >
        @for (col of tableColumns(); track col.key) {
          <div>
            @if (col.key === 'acciones') {
              <div class="dropdown">
                <i
                  class="bi bi-three-dots-vertical fs-5"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ></i>

                <ul class="dropdown-menu">
                  @if (showDetail()) {
                    <li>
                      <button class="dropdown-item item-detail" (click)="showDialog.emit(row)">
                        <i class="bi bi-info-circle me-2"></i>
                        Ver Detalle
                      </button>
                    </li>
                  }

                  <li>
                    <button class="dropdown-item item-edit" (click)="edit.emit(row)">
                      <i class="bi bi-pencil me-2"></i>
                      Editar
                    </button>
                  </li>

                  <li>
                    <button class="dropdown-item item-delete" (click)="remove.emit(row)">
                      <i class="bi bi-trash me-2"></i>
                      Eliminar
                    </button>
                  </li>
                </ul>
              </div>
            } @else {
              {{ getValue(row, col.key) }}
            }
          </div>
        }
      </div>
    }

    @if (tableData().length === 0 && !loading()) { <!---->
      <div class="empty-table">
        <i class="bi bi-database-x"></i>
        <h3>No se encontraron datos</h3>
        <p>No hay registros disponibles para mostrar.</p>
      </div>
    }

    @if (showPagination()) {
      <div class="pagination-container">
        <div class="pagination-info">
          <span>
            Total:
            {{ totalItems() | number }}
          </span>
        </div>

        @if (totalItems() > pageSize()) {
          <div class="pagination-buttons">
            <select class="form-select page-size-select" (change)="changePageSize($event)">
              <option [selected]="pageSize() === 5" value="5">5</option>

              <option [selected]="pageSize() === 10" value="10">10</option>

              <option [selected]="pageSize() === 20" value="20">20</option>
            </select>

            <button class="btn-page" (click)="changePage(currentPage() - 1)">
              <i class="bi bi-chevron-left"></i>
            </button>

            @for (page of pages(); track page) {
              <button
                class="btn-page"
                [class.active-page]="page === currentPage()"
                (click)="changePage(page)"
              >
                {{ page }}
              </button>
            }

            <button class="btn-page" (click)="changePage(currentPage() + 1)">
              <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        }
      </div>
    }
  </div>
</div>

@if(showContent()){
  <div  class="mt-2">
    <ng-content ></ng-content>
  </div>
}
